on: [push, pull_request]

name: prost-wkt build

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macOS-latest
          - windows-latest
        rust:
          - stable
          - 1.62.0

    steps:
      - uses: actions/checkout@v2

      - name: Install toolchain
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust }}
          override: true
          profile: minimal

      - name: Execute build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --verbose

      - name: Execute tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --workspace --verbose
